.markdown-navbar {
    display: flex !important;
    flex-direction: column;
    gap: 4px;
    width: var(--markdown-navbar-width);
    padding-right: var(--markdown-navbar-padding-right);
    border: 1px solid var(--light-grey);
    box-shadow: 0 0 4px 4px var(--light-grey);

    ul{
        list-style: none !important;
    }

    a{
        text-decoration: none !important;
        &:hover{
            color: var(--primary) !important;
        }
        &:focus{
            text-decoration: underline !important;
            color: var(--primary) !important;
        }
    }
}