.paper-list {
    --item-height: 110px;
    --item-labels-width: 320px;

    display: flex;
    flex-direction: column;
    width: 100%;

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--item-height);
        box-sizing: content-box;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            .date {
                font-size: 12px;
                color: var(--dark-grey);
            }

            .title {
                width: fit-content;
                font-weight: bold;
                font-size: 20px;
            }

            .title:hover {
                color: var(--primary-4);
            }
        }

        .labels {
            width: var(--item-labels-width);
            display: flex;
            gap: 8px;
            justify-content: end;
            flex-wrap: wrap;

            .label {
                background-color: var(--light-grey);
                padding: 8px 16px;
            }
        }
    }

    .item+.item {
        border-top: 1px solid var(--grey);
    }


}