.label {
    background-color: var(--light-grey);
    padding: 8px 16px;
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏溢出的文本 */
    text-overflow: ellipsis; /* 使用省略号表示溢出文本 */
    max-width: 120px;

    &:hover{
    background-color: var(--grey);
    }
}