.layout {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    .layout-content {
        width: 100%;
        padding-inline: 10%;
        min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
        padding-top: 12px;
        position: relative;
    }

    .home {
        height: 100%;
        width: 100%;
        display: flex;
        gap: var(--main-sidebar-gap);

        .main {
            flex: 1;
            // gap: 20px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .title {
                font-weight: bold;
                font-size: 24px;
            }

            .more {
                color: var(--primary-2);
                width: fit-content;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            width: var(--sidebar-width);
            height: fit-content;

            .item {
                // background-color: var(--light-grey);
                border-radius: 2px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding-bottom: 4px;
                margin-bottom: 24px;

                .title {
                    font-size: 20px;
                    font-weight: 500;
                    padding-bottom: 4px;
                    border-bottom: 1px solid var(--grey);
                }



                .tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px;

                    .tag {
                        border: 1px solid var(--light-black);
                        color: var(--light-black);
                        padding: 4px 12px;
                        border-radius: 8px;
                        cursor: pointer;

                        &:hover {
                            color: var(--primary);
                            border-color: var(--primary);
                        }
                    }
                }

                .more {
                    color: var(--primary-2);
                    margin-left: auto;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .content {
                    // padding-inline: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 4px;
                }
            }
        }
    }
}