.layout {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    .home {
        height: 100%;
        width: 100%;
        padding-top: 12px;
        display: flex;
        gap: var(--main-sidebar-gap);

        .main {
            flex: 1;
            gap: 20px;
            display: flex;
            flex-direction: column;
            height: 100%;

            .title {
                font-weight: bold;
                font-size: 24px;
            }
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            width: var(--sidebar-width);
            height: fit-content;

            .item {
                // border:1px solid var(--light-grey);
                background-color: var(--light-grey);
                border-radius: 2px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding-bottom: 4px;
                margin-bottom: 16px;

                .title {
                    padding-left: 8px;
                    size: 16px;
                    background-color: var(--primary-2);
                    color: white;
                }

                .content{
                    padding-inline: 24px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 4px;
                }
            }
        }
    }
}