.navbar {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    // background-color: var(--primary-2);
    // color: white;
    padding-inline: 10%;
    height: var(--navbar-height);
    border-bottom: 1px solid var(--light-grey);
    // background: url('https://lh3.googleusercontent.com/imnFYDbe7b7awcwXPwrWP0YMiJr57nuTToO2PqgK5ikF4zu8VxaxH_B1EbvB0NIEfl_n98A-TRQQd5cmsz1sIB6tmENptq5kpwO107GPRcL_WmXmWg=w2400-rj') no-repeat;
    // background-color: var(--primary-2);
    // clip-path: polygon(0 0, 10% 0, 0 100%);
}

.left-part,
.right-part {
    height: 100%;
}

.left-part {
    flex: 1;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;

    .logo {
        font-size: 24px;
        // color: var(--primary-2);
        font-style: italic;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.right-part {
    display: flex;
    align-items: center;

    :global {
        .ant-input-affix-wrapper {
            padding-block: 0;
            padding-right: 0;
        }
    }

    .nav-item-list {
        margin-right: 32px;
        display: flex;
        align-items: center;
        gap: 20px;

        .item {
            cursor: pointer;
            font-size: 16px;
            border-bottom: 1px solid transparent;

            &:hover {
                color: var(--primary-2);
                border-color: var(--primary-2);
            }
        }
    }

    .search-input {
        border: none;
        width: var(--search-width);
        border-radius: 4px;
        background-color: var(--light-grey);

        // color: var(--primary-2);
        * {
            user-select: none;

        }

        .input-suffix {
            display: flex;
            align-items: center;
            gap: 8px;

            border-radius: 0 4px 4px 0;
            justify-content: center;
            background-color: var(--primary-2);
            color: white;
            height: 40px;
            padding-inline: 8px;
            cursor: pointer;

            &:hover {
                filter: brightness(1.05);
            }
        }
    }
}

.navbar .anticon-search-outlined {
    font-size: 16px;
    cursor: pointer;
}