.paper-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content-region {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--main-sidebar-gap);

    .title {
      font-size: 32px;
      font-weight: 500;
      text-align: left;
      width: 100%;
    }

    .description {
      font-size: 16px;
      color: #cbd5e0;
    }

    .info-container {
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 12px;

      .time {
        color: #6B7280;
      }
    }

    .markdown-region {
      width: 100%;
      display: flex;
      gap: 20px;

      .content {
        flex: 1;
      }

      @media screen and (max-width: 1200px) {
        .navbar-container {
          display: none;
        }
      }

      .navbar-container {
        position: sticky;
        top: 36px;
        border: 1px solid var(--light-grey);
        height: fit-content;
        box-shadow: 0 0 4px 4px var(--light-grey);
      }

      h1,
      h2 {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
      }


      .h-link {
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: none !important;
        width: fit-content;

        .link-icon {
          opacity: 0;
        }

        &:hover {
          color: var(--primary-4);

          .link-icon {
            opacity: 1;
          }
        }
      }
    }

    .tag-container {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 12px;

      .key {
        font-size: 16px;
      }

      .value {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .nav-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 12px;
    }
  }

  .comment-region {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    .title {
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: 500;
    }

    .reply,
    .comment {
      width: 100%;
      display: flex;
      gap: 12px;

      .avatar-region {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-right: 12px;

        .uid {
          color: var(--dark-grey);
          font-size: 12px;
        }
      }

      .text-region {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow-wrap: anywhere;


        .header--active {
          background-color: var(--primary-5);
        }

        .header {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 12px;
          font-size: 12px;

          .user {
            color: var(--primary-1);
            font-weight: 500;
          }

          .user--author {
            color: var(--primary-4);
          }

          .date {
            color: var(--dark-grey);
          }
        }

        .text {
          margin-top: 6px;
          font-size: 14px;
        }

        .reply-link {
          width: fit-content;
          font-size: 12px;
          margin-top: 6px;
          color: var(--dark-grey);
        }

        .reply-link:hover {
          color: var(--primary-4);
        }
      }
    }

    .reply,
    .comment+.comment {
      margin-top: 16px;
    }
  }

  .message-region {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 32px;

    .title {
      margin-bottom: 12px;
      font-size: 24px;

      display: flex;
      align-items: center;
      gap: 12px;

      .cancel-link {
        color: var(--dark-grey);
        font-size: 14px;
      }
    }

    .form-container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .region {
        display: flex;
        width: 100%;
      }

      input,
      textarea {
        border: 1px solid var(--grey);
        border-radius: 4px;
        padding: 4px 6px;
        outline: none;
        font-size: 14px;
      }
    }

    .operation-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;


      button:hover {
        color: var(--primary-4)
      }
    }
  }
}